@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Barlow Condensed Bold';
    src: url('/fontes/BarlowCondensed-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat SemiBold';
    src: url('/fontes/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Hebrew Condensed';
    src: url('/fontes/OpenSans-HebrewCondensed.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.barlow-condensed-bold {
    font-family: 'Barlow Condensed Bold', sans-serif;
}

.Montserrat-SemiBold{
    font-family: 'Montserrat SemiBold', sans-serif;
}

.open-sans-hebrew-condensed {
    font-family: 'Open Sans Hebrew Condensed', sans-serif;
}