@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'BarlowCondensed-Medium';
    src: url('/fontes/BarlowCondensed-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

.Barlow-Condensed-Medium {
    font-family: 'BarlowCondensed-Medium', sans-serif;
}



@font-face {
    font-family: 'BarlowCondensed-SemiBold';
    src: url('/fontes/BarlowCondensed-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

.Barlow-condensed-SemiBold {
    font-family: 'BarlowCondensed-SemiBold', sans-serif;
}



@font-face {
    font-family: 'BarlowCondensed-Bold';
    src: url('/fontes/BarlowCondensed-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: bold;
}

.Barlow-Condensed-Bold {
    font-family: 'BarlowCondensed-Bold', sans-serif;
}



@font-face {
    font-family: 'Montserrat-Bold';
    src: url('/fontes/Montserrat-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

.Montserrat-Bold{
    font-family: 'Montserrat-Bold', sans-serif;
}



@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('/fontes/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 700;
    font-style: bold;
}

.montserrat-semibold{
    font-family: 'Montserrat-SemiBold', sans-serif;
}



@font-face {
    font-family: 'montserrat-medium';
    src: url('/fontes/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

.montserrat-medium {
    font-family: 'montserrat-medium', sans-serif;
}




@font-face {
    font-family: 'montserrat-regular';
    src: url('/fontes/montserrat-regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

.montserrat-regular {
    font-family: 'montserrat-regular', sans-serif;
}



@font-face {
    font-family: 'Roboto-Regular';
    src: url('/fontes/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

.roboto-regular {
    font-family: 'Roboto-Regular', sans-serif;
}



@font-face {
    font-family: 'Roboto-Medium';
    src: url('/fontes/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


.roboto-medium {
    font-family: 'Roboto-Medium', sans-serif;
}



@font-face {
    font-family: 'Roboto-Bold';
    src: url('/fontes/Roboto-Medium.ttf') format('truetype');
    font-weight: 700;
    font-style: bold;
}

.roboto-bold {
    font-family: 'Roboto-Bold', sans-serif;
}



@font-face {
    font-family: 'Roboto-Black';
    src: url('/fontes/Roboto-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: black;
}

.roboto-black {
    font-family: 'Roboto-Black', sans-serif;
}



@font-face {
    font-family: 'OpenSansHebrewCondensed-Bold';
    src: url('/fontes/OpenSansHebrewCondensed-Bold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

.opensanshebrewcondensed-bold {
    font-family: 'OpenSansHebrewCondensed-Bold';
}



@font-face {
    font-family: 'OpenSansHebrewCondensed-Regular';
    src: url('/fontes/OpenSansHebrewCondensed-Regular.otf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

.opensanshebrewcondensed-regular {
    font-family: 'OpenSansHebrewCondensed-Regular';
}



@font-face {
    font-family: 'OpenSans-Regular';
    src: url('/fontes/OpenSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

.opensams-regular {
    font-family: 'OpenSans-Regular';
}



@font-face {
    font-family: 'OpenSans-Medium';
    src: url('/fontes/OpenSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

.opensams-medium {
    font-family: 'OpenSans-Medium';
}


@font-face {
    font-family: 'Futura-PT-Heavy';
    src: url('/fontes/Futura-PT-Heavy.ttf') format('truetype');
}

.futura-pt-heavy {
    font-family: 'Futura-PT-Heavy';
}